doctype html
html( lang="en" )
  head( prefix="og: http://ogp.me/ns#" )
    meta( charset='utf-8' )
    meta( content='Dynamic', name='document-state' )
    meta( content='width=device-width,initial-scale=1,user-scalable=no', name='viewport' )

    title= pageTitle
    meta( content=pageDescription, name="description" )
    meta( content=pageKeywords, name="keywords" )
    meta( content=pageImage, property="og:image" )
    meta( content=pageTitle, property="og:title" )
    meta( content="profile", property="og:type" )
    meta( content=siteUrl, property="og:url" )
    meta( content=username, property="og:profile:username" )
    meta( content=first_name, property="og:profile:first_name" )
    meta( content=last_name, property="og:profile:last_name" )
    meta( content=gender, property="og:profile:gender" )
    meta( content=siteName, property="og:site_name" )
    meta( content=(first_name+' '+last_name), name="author" )
    meta( content=pageTitle, name='apple-mobile-web-app-title' )
    
    link( href=pageImage, rel='apple-touch-startup-image' )
    link( href=pageImage, rel='icon' type='image/png' )
    link( href=pageImage, rel='apple-touch-icon' type='image/png' )

    link( href="css/main.css?r=#{revision}", media="all", rel="stylesheet" )
    
    if development
      script.
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    else          
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-6538950-17', 'auto');  
        ga('require', 'displayfeatures');
        ga('require', 'linkid', 'linkid.js');
        ga('send', 'pageview');
    
      

  body
    
    .profile( itemscope, itemtype="http://schema.org/Person"  )
      
      .avatar
        img.pic( src=pageImage, itemprop="image" )

      h1.username( itemprop="name" )= [first_name, last_name].join(' ')
      
      h2.about
        span( itemprop="jobTitle" )!= jobTitle
      
      .accounts
        a( href="https://github.com/kulakowka", itemprop="url" )
          span.icon-github
          span= "GitHub"

        a( href="mailto:kulakowka@gmail.com" )
          span.icon-envelope
          span= "E-mail"
          

    //- script( src="js/main.js?r=#{revision}" )
